*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:grey;
}
.heading_style{
    padding: 30px 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    font-size: 2rm;
    letter-spacing: 2px;
    font-weight: 600;
    color: black;
    background-color: #ffffff;
    font-size: 2rem;
    margin-bottom: 3rem;
}
.cards{
    width: 100%;
    height: auto;
}
.card{
    margin: 4%;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: #ffffff;
    width: 22%;
    border-radius: 12px;
    box-shadow: 0px 13px 10px -7px rgba(0,0,0,0.1);
    float: right;
    float: left;

}
.card:hover{
    box-shadow: 0px 30px 18px -8px rgba(0,0,0,0.1);
    transform: scale(1.05,1.05);
}
.card_img{
    width:100%;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}
.card_info{
    background-color: #ffffff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px;
    background-color: #ffffff;
}
.card_category{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: capitalize;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
    background-color: #fff;
}
.card_title{
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ffffff;
    text-transform: capitalize;
}
button{
    padding: 5px 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: aliceblue;
    background-color: black;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
/*
@media(max-width:768px){
    .card{
        float: none;
        margin: 5%;
        width: 90%;
    }
}
*/